* text=auto

*.md diff=markdown
*.php diff=php
*.html diff=html


/.vscode export-ignore
/.github export-ignore
/tests export-ignore

test export-ignore
pint.json export-ignore
phpunit.xml export-ignore
phpstan.neon export-ignore

.gitignore export-ignore
.editorconfig export-ignore
.gitattributes export-ignore

